/*  fonts ↓

font-family: 'Roboto', sans-serif;

*/

/* ====================================
// css variables
// ==================================== */

:root {
  --main-color: #1e1e1e;
  --secondary-color: #eaeaea;
  --main-background-color: #e1e7f6;
  --secondary-background-color: #df0000;
  --third-background-color: #3a5af7;
  --fourth-backgorund-color: #fff;
  --main-font: "Roboto", sans-serif;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  max-width: 320px;
  margin: auto;
  box-shadow: 0 0 50px rgb(0 0 0 / 20%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  display: block;
}

/* ====================================
// base rules
// ==================================== */

/* header ↓ */

nav {
}

/* main ↓ */

/* footer ↓ */
