/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

html {
  margin: auto;
  max-width: 320px;
}

body {
  font-family: 'Roboto';
}

header {
  background-color: #1C1C1C;
  color: #EAEAEA;
  padding: 32px 16px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-align: left;
}

li {
  margin: 11px 0;
}

hr {
  border: solid #3A5AF7 0.5px;
}

ul {
  list-style-type: none;
}

main {
  background-color: #E1E7F6;
}

.blue-button {
  background-color: #3A5AF7;
  color: #EAEAEA;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  text-align: left;
  line-height: 24px;
  padding: 12px 27px;
  border: none;
}

.rectangle-button {
  box-shadow: 0 2px 4px 0 rgba(58,90,247,0.50);
  border-radius: 8px;
  margin: 65px 174px 32px 16px;
}

.ovale-button {
  box-shadow: 0 2px 4px 0 rgba(58,90,247,0.50);
  margin: 0 174px 32px 16px;
  border-radius: 24px;
}

.plus-button {
  width: 50px;
  margin: 0 0 64px 16px;
}

